<!DOCTYPE html>
<html>

<head>
    <title>Teams</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1" />
</head>

<body>
    <div class="div-table-content">
        <div>GRUPO A</div>
        <table style="border-spacing: 0;">
            <thead>
                <tr class="tr-head">
                    <th>Pos</th>
                    <th>Equipo</th>
                    <th>PJ</th>
                    <th class="d-none">G</th>
                    <th class="d-none">E</th>
                    <th class="d-none">P</th>
                    <th class="d-none">GF</th>
                    <th class="d-none">GC</th>
                    <th>DG</th>
                    <th>Pts</th>
                </tr>
            </thead>
            <tbody>
                <% for(var i=0; i < 14; i++) { %>
                    <tr
                        class="<%= i==0 || i == 1 ? 'clasifica' : ((i == 12 || i == 13) ? 'no-clasifica' : '') %>">
                        <td class="td-number bg-gray">
                            <%= teams[i].position %>
                        </td>
                        <td class="td-logo">
                            <img src="<%= teams[i].imgUrl %>">
                            <div>
                                <%= teams[i].team %>
                            </div>
                        </td>
                        <td class="td-number bg-gray">
                            <%= teams[i].PJ %>
                        </td>
                        <td class="td-number d-none">
                            <%= teams[i].G %>
                        </td>
                        <td class="td-number d-none">
                            <%= teams[i].E %>
                        </td>
                        <td class="td-number d-none">
                            <%= teams[i].P %>
                        </td>
                        <td class="td-number d-none">
                            <%= teams[i].GF %>
                        </td>
                        <td class="td-number d-none">
                            <%= teams[i].GC %>
                        </td>
                        <td class="td-number">
                            <%= teams[i].DG %>
                        </td>
                        <td class="td-number bg-gray">
                            <%= teams[i].points %>
                        </td>
                    </tr>
                    <% } %>
            </tbody>
        </table>
        
        <div style="margin-top: 15px;">GRUPO B</div>
        <table style="border-spacing: 0;">
            <thead>
                <tr class="tr-head">
                    <th>Pos</th>
                    <th>Equipo</th>
                    <th>PJ</th>
                    <th class="d-none">G</th>
                    <th class="d-none">E</th>
                    <th class="d-none">P</th>
                    <th class="d-none">GF</th>
                    <th class="d-none">GC</th>
                    <th>DG</th>
                    <th>Pts</th>
                </tr>
            </thead>
            <tbody>
                <% for(var i=14; i < teams.length; i++) { %>
                    <tr
                        class="<%= i==14 || i == 15 ? 'clasifica' : ((i == (teams.length - 1) || i == (teams.length - 2)) ? 'no-clasifica' : '') %>">
                        <td class="td-number bg-gray">
                            <%= teams[i].position %>
                        </td>
                        <td class="td-logo">
                            <img src="<%= teams[i].imgUrl %>">
                            <div>
                                <%= teams[i].team %>
                            </div>
                        </td>
                        <td class="td-number bg-gray">
                            <%= teams[i].PJ %>
                        </td>
                        <td class="td-number d-none">
                            <%= teams[i].G %>
                        </td>
                        <td class="td-number d-none">
                            <%= teams[i].E %>
                        </td>
                        <td class="td-number d-none">
                            <%= teams[i].P %>
                        </td>
                        <td class="td-number d-none">
                            <%= teams[i].GF %>
                        </td>
                        <td class="td-number d-none">
                            <%= teams[i].GC %>
                        </td>
                        <td class="td-number">
                            <%= teams[i].DG %>
                        </td>
                        <td class="td-number bg-gray">
                            <%= teams[i].points %>
                        </td>
                    </tr>
                    <% } %>
            </tbody>
        </table>
    </div>


    <style>
        body{
            font-family: system-ui;
        }

        th,
        td {
            height: 35px;
        }

        .td-logo>img {
            float: left;
            margin-right: 5px;
        }

        .td-logo>div {
            min-width: 200px;
            height: 36px;
            line-height: 36px;
        }

        .td-number {
            text-align: center;
            width: 38px;
        }

        .clasifica {
            background-color: #98d598;
        }

        .no-clasifica {
            background-color: #ffa4a4;
        }

        .div-table-content {
            display: table;
            margin: 0 auto;
        }

        .div-table-content>div {
            background: rgb(38, 47, 62);
            font-weight: bolder;
            color: white;
            padding: 10px;
        }

        .tr-head>th {
            background: rgb(222, 226, 230);
            font-weight: bolder;
        }

        .bg-gray{
            background: rgba(0,0,0,0.1);
        }

        @media (max-width: 600px) {
            .d-none {
                display: none;
            }
        }
    </style>
</body>

</html>